In [23]:
import pandas as pd
import numpy as np

In [6]:
pandora_gene_presence_df = pd.read_csv("pandora_multisample.matrix", sep="\t")
pandora_gene_presence_df

             gene_name  063_STEC  CFT073  H131800734  ST38
0           GC00006917         0       0           0     1
1         Cluster_6872         0       0           0     1
2         GC00000927_2         0       0           0     1
3          Cluster_808         0       0           0     1
4           GC00008595         0       0           0     1
...                ...       ...     ...         ...   ...
11152       GC00010372         1       1           1     1
11153       GC00009412         1       0           0     0
11154     Cluster_5558         1       0           0     1
11155  GC00004186_r1_1         1       0           1     0
11156       GC00001396         1       1           1     1

[11157 rows x 5 columns]

In [17]:
bowtie2_gene_presence_df = pd.read_csv("gene_presence_matrix_based_on_bowtie2", sep="\t")
bowtie2_gene_presence_df

          gene_name  CFT073  H131800734  ST38  063_STEC
0        GC00006917       0           0     1         0
1       Cluster_588       0           0     1         0
2        GC00004143       0           0     1         0
3      GC00005267_1       0           0     1         0
4      GC00003169_2       0           0     1         0
...             ...     ...         ...   ...       ...
10427    GC00001998       1           1     1         1
10428    GC00002254       1           1     1         1
10429  Cluster_4479       1           1     1         1
10430    GC00005134       0           0     0         1
10431  Cluster_1463       1           1     1         1

[10432 rows x 5 columns]

In [24]:
merged_dfs = pandora_gene_presence_df.merge(bowtie2_gene_presence_df,
                                            on="gene_name", how="outer", suffixes=("_pandora", "_bowtie"))
merged_dfs

,gene_name,063_STEC_pandora,CFT073_pandora,H131800734_pandora,ST38_pandora,CFT073_bowtie,H131800734_bowtie,ST38_bowtie,063_STEC_bowtie
0,GC00006917,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,Cluster_6872,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,GC00000927_2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,Cluster_808,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,GC00008595,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
11573,Cluster_6971,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
11574,GC00004416,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0
11575,GC00003424_1,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
11576,Cluster_2012,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0
11577,GC00001036_3,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [25]:
merged_dfs = merged_dfs.fillna(0)
for column in merged_dfs.columns:
    if column != "gene_name":
        merged_dfs[column] = merged_dfs[column].astype(np.int)
merged_dfs

,gene_name,063_STEC_pandora,CFT073_pandora,H131800734_pandora,ST38_pandora,CFT073_bowtie,H131800734_bowtie,ST38_bowtie,063_STEC_bowtie
0,GC00006917,0,0,0,1,0,0,1,0
1,Cluster_6872,0,0,0,1,0,0,1,0
2,GC00000927_2,0,0,0,1,0,0,1,0
3,Cluster_808,0,0,0,1,0,0,1,0
4,GC00008595,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
11573,Cluster_6971,0,0,0,0,0,0,1,0
11574,GC00004416,0,0,0,0,0,0,0,1
11575,GC00003424_1,0,0,0,0,0,0,1,0
11576,Cluster_2012,0,0,0,0,0,0,0,1
11577,GC00001036_3,0,0,0,0,0,0,0,0

In [ ]:
def get_classification(row, sample):
    bowtie_classification = float(row[f"{sample}_bowtie"])
    pandora_classification = float(row[f"{sample}_bowtie"])
    
    TP = bowtie_classification == 1 and pandora_classification == 1
    FP = bowtie_classification == 0 and pandora_classification == 1
    FN = bowtie_classification == 1 and pandora_classification == 0
    TN = bowtie_classification == 0 and pandora_classification == 0
    
    if TP: return "TP"
    if FP: return "FP"
    if FN: return "FN"
    if TN: return "TN"
    

samples=["063_STEC", "CFT073", "H131800734", "ST38"]
for sample in samples:
    merged_dfs[f"{sample}_classification"] = merged_dfs.apply(axis=1, kwds={"sample": sample})